---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";
$serif              : "PT Serif", Georgia, Times, serif;
$sans-serif-narrow  : "PT Sans Narrow", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;

$global-font-family : $serif;
$header-font-family : $sans-serif-narrow;

.page {
    @media (min-width: 80em) {
        width: calc(100% - 200px) !important;
    }
}

.myauthors {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5em 0;
  }
.myauthor {
    font-size: 12px;
    text-align: start;
    width: 25%; /* Set each item to take up 25% of the container width */
    padding: 0.5em;
    box-sizing: border-box; /* Include padding in the width calculation */
}

#introduction {
    margin: .8em 0 .5em;
}

.myfig {
    display: inline-block;
    width: 100%;
    text-align: center;
    .myimg {
        align-items: center;
    }
    .mysvg {
        display: block; 
        margin: auto;
        margin-bottom: 1em;
        max-width: 60%; 
    }
    .mycap {
        font-weight: 600;
        text-align: center;
    }
}

.sidebar.sticky {
    width: fit-content;
    padding: .3em;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.team-member {
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: relative;
    text-align: start;
    display: flex;
    flex-direction: column;
    width: calc(50% - 25px); 
    margin-bottom: 25px;
}

.team-member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    align-self: center;
    margin-bottom: 10px;
}

.team-member h3 {
    margin: 8px 0;
    align-self: center;
}

.member-entry {
    margin: 2px 0;
    text-align: start;
    color: #333;
    font-size: 70%;
}

@import url("path/to/stylesheet.css");
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials